.contact {
    background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url("../images/project.jpg");
    color: white;
    padding: 100px;
    background-size: cover;
  }
  
  .contact p {
    font-family: "Roboto", Helvetica, serif;
  }
  .contact-header {
    margin: 80px;
  }
  .contact-footer {
    padding: 10px;
    margin-top: 200px;
  }
  .contact-footer p{
    font-size: 50px;
    font-family: cursive;
  }
  .cantact-ways {
    text-align: center;
  }
  .contact-header-quote {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .contact-header-quote img {
    padding: 3px;
    margin-right: 15px;
  }
  .contact-header-quote h3 {
    margin: 5px 0;
  }
  
  
  