.summary {
    background: linear-gradient(rgba(250, 250, 250, 0.1), rgba(250, 246, 250, 0.1)),
      url("../images/project.jpg");
    background-attachment: fixed;
    background-attachment: center center;
    color: white;
  }
  
  .summary .row {
    padding: 10px;
    margin:10% 20%;
    width: 80%;
  }
  
  .summary h3 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
  .summary p {
    font-family: "Roboto", Helvetica, serif;
  }

  .summary .description {
    margin: 10px;
  }
  
  